body{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

header{
  background-color: #343A40FF;
  color: white;
  padding: 0 8%;
  width: 100%;
  text-align: right;

  position: fixed;
}

.txt-title{
  text-align: left;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none; /*saca las viñetas de la lista */
  margin: 0;
  padding: 0;
  line-height: 40px;
}

li{
  text-align: right;
  display: inline-block;
}

.menu a{
  text-decoration: none;/*sacar la linea del link*/
  color: #95989BFF;
  padding: 2%;
}

.menu a:hover{
  color: white;
}

.hamburger{
  display: none;
}
/* _____________________________________________________________________ */

.init{
  background-image: url(../img/cat-header-trending_1920x716.jpg);
  height: 400px;
  padding-top:10%;
}

h1{
  color: white;
  font-size: 6em;
  background-color: rgba(0,0,0,0.5);
}

#about{
  text-align: left;
  padding: 3% 0;
}
#about p{
  padding: 3% 0;
}

.txt-img{
  text-align: left;
}

/* _____________________________________________________________________ */

#services{
  padding: 5% 0;
}

.buttons{
  background-color: #007BFFFF;
  border-radius: 4px;
  color:white;
  text-align: center;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  margin: 2%;
}

.border{
  border: 1px solid grey;
  border-radius: 2%;
}

.cards{
text-align: left;
}

.cards img{
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

.cards h3, .cards p{
  margin-left: 3%; 
  padding: 2%;
}

.picture{
  padding: 0;
  margin: 0;
}

.image{
  width: 100%;
}

/* _____________________________________________________________________ */

footer{
  background-color: #343A40FF;
  color: white;
}

footer p{
  padding: 2% 0;
}