@media (min-width: 200px) and (max-width: 534px){
  [class*="col-"]{ /* para que las col ocupen el 100% del ancho y se agrupen hacia abajo */
    width: 100%;
  }

  /* Quito la columna que lleva el menu horizontal */
	.no-hamburguer{
		display: none;
	}

  .hamburger{
    display: block; /* Muestro la columna que lleva el menu hamburguesa */
    text-align: right;
    padding: 0;
    width: 50%!important;
    margin: -0.3px;
  }

  header label{
  text-align: right;
  cursor: pointer; /* Hace que aparezca la manito cuando paso el cursor sobre la etiqueta que lleva al menu */
  }

  .txt-title{
    text-align: left;
    margin: 0!important;
    padding: 0!important;
    font-size: 95%;
  }

  .bootstrap{
    padding-right: 0;
    padding-left: 0;
    width: 50%!important;
  }
}